<div class="footer">
    <div class="icon-container">
        <a class="icon" href="mailto:niazbaharudeen@gmail.com">
            <svg email fill="#808080"></svg>
        </a>
        <a class="icon" href="https://linkedin.com/in/niaz-baharudeen" target="_blank" rel="noopener noreferrer">
            <svg linkedin fill="#808080"></svg>
        </a>
        <a class="icon" href="https://github.com/tuk05348" target="_blank" rel="noopener noreferrer">
            <svg github fill="#808080"></svg>
        </a>
    </div>
    <span class="copyright">Copyright © 2025 Niaz Baharudeen</span>
</div>
