<div class="footer">
    <div class="icon-container">
        <a class="link" href="mailto:niazbaharudeen@gmail.com">
            <svg class="icon" email></svg>
        </a>
        <a class="link" href="https://linkedin.com/in/niaz-baharudeen" target="_blank" rel="noopener noreferrer">
            <svg class="icon linkedin" linkedin></svg>
        </a>
        <a class="link" href="https://github.com/tuk05348" target="_blank" rel="noopener noreferrer">
            <svg class="icon" github></svg>
        </a>
    </div>
    <span class="copyright">Copyright © 2025 Niaz Baharudeen</span>
</div>
