.icon-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;
}

.icon:hover {
    transform: scale(1.15);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}