.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1em;
    z-index: 1;
}

.logo {
    width: 100%;
    height: 100%;
}

.logo > img {
    height: 3em;
    object-fit: cover;
}

.logo-container {
    display: flex;
}

.name {
    font-size: 2em;
    font-weight: bold;
    color: #394eff;
    width: 100%;
}

.hamburger {
    display: none;
    font-size: 3rem;
    cursor: pointer;
}

.link-container {
    display: flex;
    gap: 1em;
}

.link {
    color: #808080;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.link:hover {
    color: #FFA500;
}

.highlight {
    color: #FFA500;
}

@media (max-width: 768px) {

    .link-container {
        display: none;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        width: 14em;
        top: 4em;
        right: 4em;
        background-color: #D3D3D3;
        gap: 0px;
    }

    .link-container.open {
        display: flex;
    }

    .link {
        display: flex;
        color: #000000;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        width: 100%;
        justify-content: center;
    }

    .link:not(:last-child) {
        border-bottom: #000000 2px solid;
    }

    .link:hover {
        color: #FFFFFF;
        background-color: #FFA500;
    }

    .hamburger {
        display: block;
    }
}