<nav>
    <div class="logo-container">
        <img class="logo" src="logo.png" alt="logo">
        <span class="name">NIAZ</span>
    </div>
    <div class="hamburger" (click)="menuOpen = !menuOpen">
        &#9776;
    </div>
    <div class="link-container" [class.open]="menuOpen">
        <a routerLink="/" (click)="menuOpen = false">Home</a>
        <a routerLink="/about" (click)="menuOpen = false">About</a>
        <a routerLink="/projects" (click)="menuOpen = false">Projects</a>
        <a routerLink="/contact" (click)="menuOpen = false">Contact</a>
    </div>
</nav>
