<div class="header">
    <span>About Me</span>
</div>
<p>
    My interest in technology began in middle school and high school with VeX robotics kits.
    It was an amazing experience, not just building robots, but writing code to direct their behavior. My favorite 
    part was building the line follower robot, a robot tasked with following a line of tape as it curved on the floor.
</p>
<p>
    I must have spent hours devising an algorithm to make the robot follow the tape. It was such a fun experience,
    coming up with an idea, implementing it, and testing it, until I had a robot that worked. 
    It was in that moment I realized how much I loved problem-solving in technology. It's such a satisfying and
    fulfilling process, to iteratively work to make your ideas a reality and produce a working product.
</p>
<p>
    That experience compelled me to pursue a Bachelor of Science at Temple University. I had so much fun writing code
    to power robots, I wanted to learn more and explore problem-solving to the fullest. And I did, I learned 
    programming lanuages like C and Python, I developed everything from command-line programs to web applications.
</p>
<p>
    But what really resonated with me was discrete mathematics. I loved learning about binary numbers, proofs,
    matrices, and linear algebra. I realized, this is problem-solving at its most fundamental form. I loved it,
    I loved it so much I became a Teaching Assistant for a discrete math course.
</p>
<p>
    I wanted to instill in my fellow students the same love for problem-solving that I had. I wanted to show them
    how the math behind computer science worked, to teach them the fundamental techniques behind problem-solving and 
    use them to become better software engineers.
</p>