<div class="project-card bold">
    <div class="link-container">
        <a>
            <svg class="link-icon" github></svg>
        </a>
    </div>
    <div class="project">
        <img class="project-image" src="website.png" alt="Screenshot of this website">
        <div class="content">
            <h2>niazbaharudeen.com</h2>
            <div class="short-desc">
                <span class="year">2025</span>
                <span class="short">Personal Website</span>
            </div>
            <p class="long-desc">Portfolio website built in Angular to show off my skills, experience, and projects</p>
        </div>
    </div>
</div>
