<div class="project-card bold">
    <div class="project">
        <img class="project-image" [ngSrc]="project.image_url" width="150" height="180" 
            [alt]="project.alt_text" [title]="project.image_title" [priority]="project.priority">
        <div class="content">
            <span *ngIf="!project.github_url" class="title">{{ project.title }}</span>
            <a *ngIf="project.github_url" class="title-link" [href]="project.github_url" target="_blank" rel="noopener noreferrer">
                {{ project.title }}
                <svg class="link-icon" github></svg>
            </a>
            <div class="short-desc">
                <span class="year">{{ project.year }}</span>
                <span class="short">{{ project.short_desc }}</span>
            </div>
            <span class="long-desc">{{ project.long_desc }}</span>
        </div>
    </div>
</div>
