.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1em;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 1024px) {
    .project-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }
}