.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 1em;
    width: 80vw;
}

.contact-form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-weight: bold;
    gap: 0.5em;
    width: 100%;
}

h1, h2 {
    display: inline;
}

input::placeholder, textarea::placeholder {
    color: #303030;
    opacity: 0.75;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid rgba(255, 71, 77, 0.75);
  border-radius: 2px;
}

.input {
    padding: 5px;
    background-color: #E0E0E0;
    border: #E0E0E0 2px solid;
}

.input-label {
    font-size: 1.25rem;
    padding-bottom: 5px;
}

.submit {
    background-color: #FF474D;
    border: none;
    color: #FFFFFF;
    border-radius: 0.5em;
    font-size: 1.17rem;
    font-weight: bold;
    padding: 0.5em;
}

.submit:hover {
    background-color: #FF7074;
}

.alert {
    display: flex;
    justify-content: flex-end;
}

.alert div {
  color: #820000;
  font-size: 1em;
}

@media (min-width: 1024px) {
    .contact-page {
        width: 30rem;
    }
}