<div class="home-container">
    <div class="photo-container">
        <img class="photo" ngSrc="https://cdn.niazbaharudeen.com/photo.png"
            width="762" height="762" sizes="30vw" alt="Professional Photo" priority>
    </div>
    <div class="intro-container">
        <span class="name">Hello, I'm Niaz Baharudeen!</span>
        <span>{{ bio }}</span>
        <a class="link" href="Baharudeen_Niaz_Resume.pdf" download>
            <button type="button" id="download-link">Download Resume</button>
        </a>
    </div>
</div>